<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Option 1</a></li>
    <li><a href="#!">Option 2</a></li>
    <li class="divider"></li>
    <li><a href="#!">Logout</a></li>
</ul>
<nav class="orange darken-1">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Magma</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Link 1</a></li>
            <li><a href="badges.html">Link 2</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Welcome User<i class="material-icons
            right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
