<div id="slide-out" class="sidenav sidenav-fixed">
    <h5 class="center sidenavTitle">Dashboard</h5>
    <ul class="collapsible">
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">book</i>Posts</div>
            <div class="collapsible-body center">
                <div class="col s12">
                    <div class="card">
                        <a href="/dashboard/post/all">All</a>
                    </div>
                </div>
            </div>
            <div class="collapsible-body center">
                <div class="col s12">
                    <div class="card">
                        <a href="/dashboard/post/add">Add</a>
                    </div>
                </div>
            </div>
            <div class="collapsible-body center">
                <div class="col s12">
                    <div class="card">
                        <a href="/dashboard/post/categories">Categories</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>