<h4>Add new post</h4>
<form method="post">
    <div class="row">
        <div class="input-field col s12 l8">
            <input id="title" type="text" class="validate">
            <label for="title">Title field</label>
        </div>
        <div class="input-field col s12 l4">
            <select>
                <option value="1">Category 1</option>
                <option value="2">Category 2</option>
                <option value="3">Category 3</option>
            </select>
            <label>Category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 right-align">
            <a type="submit" class="waves-effect waves-light btn orange darken-3">Save</a>
        </div>
    </div>
</form>

<script src="/ckeditor/ckeditor.js"></script>
<script>
    ClassicEditor
            .create(document.querySelector('#textarea1'),{uiColor: '#AADC6E'})
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
</script>