<h4>Add new post</h4>
<form method="post">
    <div class="row">
        <div class="input-field col s12 l8">
            <input id="title" type="text" name="title" class="validate" required>
            <label for="title">Title field</label>
        </div>
        <div class="input-field col s12 l4">
            <select name="category">
                {{#each categories}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <label>Category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea name="body" id="textarea1" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 right-align">
            <button type="submit" class="waves-effect waves-light btn orange darken-3">Save</button>
        </div>
    </div>
</form>

<script src="/ckeditor/ckeditor.js"></script>
<script>
    ClassicEditor
            .create(document.querySelector('#textarea1'),{uiColor: '#AADC6E'})
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
</script>