<div id="slide-out" class="sidenav sidenav-fixed">
    <h5 class="center sidenavTitle" >Dashboard</h5>
    <ul class="collapsible">
        <li><div class="divider"></div></li>
        <li>
            <div class="collapsible-header"><i class="material-icons">book</i>Posts</div>
            <div class="collapsible-body"><a href="#">All</a></div>
            <div class="collapsible-body"><a href="#">Add</a></div>
            <div class="collapsible-body"><a href="#">Edit</a></div>
            <div class="collapsible-body"><a href="#">Remove</a></div>
        </li>

    </ul>
</div>